.report__form {

  label {
    margin: 15px 0;
    display: block;
  }

  .report__message {
    box-sizing: border-box;
    display: block;
    resize: none;
    width: 100%;
    height: 50px;
  }

  .report__button {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
